body, html {
	height:100%;
}

.container {
	margin:50px;
	height:80%;
}

.icons {
	margin:10px;
	padding:10px;
	padding-left:30%;
	padding-right:30px;
	/* display: flex; */
	height:10%;
}

span {
	padding:20px;
	padding - right:30px;
	padding - left: :30px;
}

.text {
	height:70%;
	flex - direction:row;
	text-align:center;
	padding - top:15px;
}
.sliding {
	align-items:center;
	/* padding: 50px; */
	height:10%;
}